@model IEnumerable<Webbangame.Models.NHA_PHAT_TRIEN>
<p class="lead">Nhà Phát Triển</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheonhaphattrien","GameStore",new { id = item.MaNPT })" class="list-group-item">
            @item.TenNPT
        </a>
    }
</div>

