@model  IEnumerable<Webbangame.Models.NHA_PHAT_HANH>
<p class="lead">Nhà Phát Hành Game</p>
<div class="list-group">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("SPTheoNhaPhatHanh","GameStore",new {id=item.MaNPH })" class="list-group-item">
            @item.TenNPH
        </a>
    }  
</div>
